- job:
    name: builder-reimage-job
    project-type: pipeline
    description: "Pipeline to create virtualenv and run builder-reimage.py to reimage the Jenkins builders using Jenkinsfile"
    concurrent: false

    parameters:
      - choice:
          name: ACTION
          choices:
            - list
            - query
            - status
            - redeploy
            - redeploy-all
          default: list
          description: "Action to perform"

      - string:
          name: MACHINE
          default: ""
          description: "Machine name (required for: query, status, redeploy)"

      - string:
          name: OS
          default: ""
          description: "OS to deploy (optional). Example: jammy, 9.6. Used in: redeploy, redeploy-all"    

    scm:
      - git:
          url: https://github.com/jitendrasahu1803/builder-reimage.git
          branches:
            - main
          clean: true

    pipeline-scm:
      scm:
        - git:
            url: https://github.com/jitendrasahu1803/builder-reimage.git
            branches:
              - main
      script-path: Jenkins-job/test-2.jenkins/jenkins-pipeline/build/Jenkinsfile
      lightweight-checkout: true
